<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: (isCustomerLoggedIn) -->
<form class="form form-shipping-address userislogged" id="co-shipping-form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
    <!-- ko foreach: getRegion('before-fields') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div id="shipping-new-address-form" class="fieldset address">
        <!-- ko foreach: getRegion('additional-fieldsets') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko if: (isCustomerLoggedIn) -->
        <div class="field choice" data-bind="visible: !isFormInline">
            <input type="checkbox" class="checkbox" id="shipping-save-in-address-book" data-bind="checked: saveInAddressBook" />
            <label class="label" for="shipping-save-in-address-book">
                <span data-bind="i18n: 'Save in address book'"></span>
            </label>
        </div>
        <!-- /ko -->
    </div>
    <div class="datos-facturacion">
        <div class="title">
            <span data-bind="i18n: 'Datos de Facturación'"></span>
            <span class="text-grey">*Ante una solicitud de devolución se deberá presentar la persona que figura en los datos de facturación (nombre y NIT) para proceder con la devolución de su dinero.</span>
        </div>
    </div>
</form>
<!-- /ko -->
<!-- ko ifnot: (isCustomerLoggedIn) -->
<form class="form form-shipping-address" id="co-shipping-form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
    <!-- ko foreach: getRegion('before-fields') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div id="shipping-new-address-form" class="fieldset address">
        <!-- ko foreach: getRegion('additional-fieldsets') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <div class="datos-facturacion">
        <div class="title">
            <span data-bind="i18n: 'Datos de Facturación'"></span>
            <span class="text-grey">*Ante una solicitud de devolución se deberá presentar la persona que figura en los datos de facturación (nombre y NIT) para proceder con la devolución de su dinero.</span>
        </div>
    </div>
</form>
<!-- /ko -->