<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label id="qr" data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: 'Pago con Código QR'"></span></label>
    </div>
    <div class="payment-method-content">
        <div class="information" style="display:inline-block;">
            <div class="">
                <span class="reminder">Desde la aplicación de tu banco escanea el<b class="order-big-text">&nbsp;Código QR</b></span><br>
                <div class="img-qr"></div>
            </div>
        </div>
        <div class="information" style="width: 100%; display: inline-block;">
            <div>
                <span class="reminder">Una vez realizado tu pago recibirás un correo con la factura adjunta</span>
            </div>
            <div>
                <span class="reminder">Recuerda que solo tienes <b class="order-big-text">24 horas</b>&nbsp;para realizar tu pago.</span>
            </div>
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <p data-bind="html: getInstructions()"></p>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
        