<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode(), 'id': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <div class="text-container">
            <span class="text-nobold" data-bind="i18n: 'Realiza tu pago a través de un depósito bancario utilizando la siguiente información:'"></span><br>
            <span class="text-nobold" data-bind="i18n: 'Beneficiario: '"></span>
            <span class="text-bold" data-bind="i18n: 'Dismatec S.A.'"></span><br>
            <span class="text-nobold" data-bind="i18n: 'Banco: '"></span>
            <span class="text-bold" data-bind="i18n: 'Banco Unión'"></span><br>
            <span class="text-nobold" data-bind="i18n: 'No. de cuenta: '"></span><br/>
            <span class="text-bold" data-bind="i18n: '1-0000031739656 Moneda Nacional'"></span><br>
            <span class="text-bold" data-bind="i18n: '2-0000031740942 Moneda Extranjera'"></span><br>
            <span class="text-nobold" data-bind="i18n: 'Tipo de Cuenta:'"></span>
            <span class="text-bold" data-bind="i18n: 'Cuenta corriente'"></span><br>
            <span class="text-nobold" data-bind="i18n: 'Usa el número de orden que viene en la parte superior de confirmación de compra para que puedas confirmar el pago.'"></span><br>
            <span class="text-nobold" data-bind="i18n: 'Recuerda que tienes solo'"></span>
            <span class="text-bold" data-bind="i18n: '24 horas para realizar el pago '"></span>
            <span class="text-nobold" data-bind="i18n: 'y enviar por correo tu comprobante.'"></span>
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- ko if: getMailingAddress() || getPayableTo() -->
        <dl class="items check payable">
            <!-- ko if: getPayableTo() -->
            <dt class="title"><!-- ko i18n: 'Make Check payable to:' --><!-- /ko --></dt>
            <dd class="content"><!-- ko text: getPayableTo() --><!-- /ko --></dd>
            <!-- /ko -->
            <!-- ko if: getMailingAddress() -->
            <dt class="title"><!-- ko i18n: 'Send Check to:' --><!-- /ko --></dt>
            <dd class="content">
                <address class="checkmo mailing address" data-bind="html: getMailingAddress()"></address>
            </dd>
            <!-- /ko -->
        </dl>
        <!-- /ko -->
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Pagar'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
        
