<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Welcome to %store_name" store_name=$store.getFrontendName()}} @-->
<!--@styles 
.ac-email-head a, .ac-email-head a:hover { color: #626262; text-decoration: none; }
p a, p a:hover { color: #333333; text-decoration: none;  }
@-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        {{var template_styles|raw}}

        {{css file="css/email.css"}}
    </style>
</head>
<body>
{{inlinecss file="css/email-inline.css"}}

<!-- Begin wrapper table -->
<table class="wrapper" width="100%">
    <tr>
        <td class="wrapper-inner" align="center">
            <table class="main" align="center">
                <tr>
                    <td class="header">
                        <table class="header-email">
                            <tr>
                                <td class="eheader-logo">
                                    <a class="logo" href="{{store url=""}}">
                                    <img
                                            {{if logo_width}}
                                            width="{{var logo_width}}"
                                            {{else}}
                                            width="180"
                                            {{/if}}

                                    {{if logo_height}}
                                    height="{{var logo_height}}"
                                    {{/if}}

                                    src="{{var logo_url}}"
                                    alt="{{var logo_alt}}"
                                    border="0"
                                    />
                                    </a>
                                </td>
                                <td class="eheader-link">
                                    <a href="#">SUCURSALES</a> &#8226; <a href="#">VER WEB</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="account-email-header">
                        <p class="ac-email-head">{{trans "Bienvenido a tu tienda"}} <a href="http://dismac.com/" target="_blank" style="color: #626262 !important; text-decoration: none !important; ">dismac.com</a></p>
                        <p class="ac-email-head2">{{trans "Ahora puedes comprar desde cualquier dispositivo,en cualquier lugar"}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="account-email-black">
                        <p>{{trans "En tus compras online, la entrega es gratuita para montos superiores a Bs. 1,399*"}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="main-content">
                        <!-- Begin Content -->

<p class="greeting">{{trans "Hola %name," name=$customer.firstname}}</p>
<p>{{trans "Te damos la bienvenida  a tu tienda"}} <a href="http://dismac.com.bo/" target="_blank" style="color: #000000 !important; text-decoration: none !important; ">dismac.com.bo</a> {{trans "donde podrás encontrar"}} <strong>{{trans "más de 4000 productos"}}</strong> {{trans "disponibles para comprar y elegir el método de pago y envío que mejor te convenga."}}</p>
<p>{{trans "Descubre la tienda online de"}} <a href="http://dismac.com.bo/" target="_blank" style="color: #000000 !important; text-decoration: none !important; ">dismac.com.bo</a> {{trans "y accede a tu cuenta desde aquí:"}}</p>
<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        {{trans
                        '<a href="%customer_url" target="_blank">ACCEDER A MI CUENTA ></a>'

                        customer_url=$this.getUrl($store,'customer/account/',[_nosid:1])
                        |raw}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<p class="ac-feture-title">{{trans "Cuando accedas podrás:"}}</p>
<table class="ac-feture-list">
    <tr>
        <td><p>•&nbsp;&nbsp;&nbsp;&nbsp;{{trans "Pagar tus MiniCuotas."}}</p></td>
        <td><p>•&nbsp;&nbsp;&nbsp;&nbsp;{{trans "Ver tus pedidos anteriores."}}</p></td>
    </tr>
    <tr>
        <td><p>•&nbsp;&nbsp;&nbsp;&nbsp;{{trans "Realizar compras más rápido."}}</p></td>
        <td><p>•&nbsp;&nbsp;&nbsp;&nbsp;{{trans "Realizar cambios en la información de tu cuenta."}}</p></td>
    </tr>
    <tr>
        <td><p>•&nbsp;&nbsp;&nbsp;&nbsp;{{trans "Revisar el estado de tus pedidos."}}</p></td>
        <td><p>•&nbsp;&nbsp;&nbsp;&nbsp;{{trans "Cambiar tu contraseña."}}</p></td>
    </tr>
</table>
<table class="features-table">
    <tr>
        <td class="features-left"><img src="{{view url='Magento_Customer/images/ac-features-1.png'}}" /></td>
        <td><img src="{{view url='Magento_Customer/images/ac-features-2.png'}}" /></td>
        <td><img src="{{view url='Magento_Customer/images/ac-features-3.png'}}" /></td>
        <td><img src="{{view url='Magento_Customer/images/ac-features-4.png'}}" /></td>
        <td class="features-right"><img src="{{view url='Magento_Customer/images/ac-features-5.png'}}" /></td>
    </tr>
</table>
<p class="ac-bottom-txt">{{trans "Si tienes dudas acerca de tu cuenta por favor escríbenos un correo electrónico a"}} <a href='mailto:atencionalcliente@dismac.com.bo'>atencionalcliente@dismac.com.bo</a> {{trans "o llámanos por teléfono al 800 10 2000"}}</p>

{{template config_path="design/email/footer_template"}}
