<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your %store_name password" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl(store, 'customer/account/')":"Customer Account URL",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Hola %name," name=$customer.firstname}}</p>
<p>{{trans "Si tú solicitaste este reestablecimiento, establece una nueva contraseña aquí:"}}</p>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <a href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[token:$customer.rp_token],_nosid:1])}}" target="_blank">{{trans "CREAR NUEVA CONTRASEÑA >"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p>{{trans "Si no hiciste esta petición, por favor ignora esta solicitud y tu contraseña actual se mantendrá."}}</p>
<p>{{trans "Saludos"}},</p>
<p class="bold">{{trans "Dismac"}}</p>

{{template config_path="design/email/footer_template"}}
